# Formats
*.ipynb
*.dat
*.tdat
*.tdat.gz
glg_tte*
*.pdf
*.source
*.log

#Folders
__*
.vscode
.ipynb_checkpoints
#GBM_burst_archive
#Archive_Light_Curve
Output
Light_Curves_Extra
.Temp

# Files
GBM_bursts.fits
